.footer-subscribe {
  display: grid;
  grid-column-gap: 24px;
  grid-row-gap: 19px;
  grid-template-columns: 26px 22px 12px 19px;
  grid-template-rows: 27px 20px;
}
.footer-subscribe h2 {
  grid-column: 1/-1;
}

.footer-item {
  width: 270px;
}

.icon-google {
  background-image: url("../images/Google+.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 26px 17px;
  display: block;
  height: 100%;
  width: 100%;
}
.icon-google:hover {
  filter: brightness(5);
}

.icon-twitter {
  background-image: url("../images/Twitter.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 22px 19px;
  display: block;
  height: 100%;
  width: 100%;
}
.icon-twitter:hover {
  filter: brightness(5);
}

.icon-facebook {
  background-image: url("../images/Facebook.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 12px 20px;
  display: block;
  height: 100%;
  width: 100%;
}
.icon-facebook:hover {
  filter: brightness(5);
}

.icon-instagram {
  background-image: url("../images/Instagram.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 19px 20px;
  display: block;
  height: 100%;
  width: 100%;
}
.icon-instagram:hover {
  filter: brightness(5);
}

nav {
  display: grid;
  grid-template-columns: minmax(20px, auto) minmax(374px, 1200px) minmax(20px, auto);
  position: relative;
  z-index: 0;
  grid-column: 1/-1;
  grid-row: -1/-2;
}
nav ul {
  grid-column: 2/-2;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  grid-row: -1/-2;
  line-height: 24px;
  margin-top: 40px;
  max-width: 438px;
  padding: 0;
  row-gap: 16px;
}
nav ul li {
  display: block;
  margin-right: 16px;
}
nav ul li:last-child {
  margin-right: 0;
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.popular-track {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: 55px;
}
.popular-track img {
  height: 55px;
  width: 55px;
}
.popular-track h3,
.popular-track p {
  font-size: 12.8px;
  line-height: 19.2px;
  margin: 0;
  padding: 0;
}
.popular-track .track-name {
  grid-area: track-name-and-artist;
}
.popular-track .track-artist {
  grid-area: track-name-and-artist;
  margin-top: 28px;
}
.popular-track .track-time {
  grid-area: track-time;
  padding: 18px 0;
}

.track-info {
  display: grid;
  grid-template-areas: "track-name-and-artist area track-time";
  grid-template-rows: 55px;
  height: 55px;
  margin-left: 15px;
  grid-template-columns: 125px minmax(154px, 331px) 25px;
}
.track-info h3 {
  color: #ffffff;
  margin-top: 9px;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #08020d;
  color: #cacaca;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

body {
  display: grid;
  grid-template-columns: minmax(20px, auto) minmax(374px, 1200px) minmax(20px, auto);
  position: relative;
  z-index: 0;
}

h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 90px;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 38px;
  font-weight: 700;
  line-height: 57px;
  text-transform: uppercase;
  margin: 0;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
}

main {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: minmax(20px, auto) minmax(374px, 1200px) minmax(20px, auto);
  position: relative;
  z-index: 0;
  grid-template-rows: repeat(5, min-content);
}
main section {
  grid-column: 2/-2;
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
  width: 100%;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 3px;
  box-sizing: border-box;
  color: #ffffff;
  display: block;
  height: 66px;
  line-height: 1;
  padding-bottom: 21px;
  padding-top: 21px;
}
.btn:active {
  opacity: 0.8;
}
.btn:hover {
  background-color: #ffffff;
  color: #08020d;
}

.ta-center {
  text-align: center;
}

.ta-left {
  text-align: left;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  grid-column: 2/-2;
  justify-content: space-between;
  left: 0;
  position: absolute;
  top: 25px;
  z-index: 5;
}
header #search {
  border: 0;
  background-color: #3c3b3d;
  border-radius: 50px;
  box-sizing: border-box;
  color: #ffffff;
  height: 25px;
  padding: 5px 10px;
  width: 248px;
}
header span {
  color: #ffffff;
  font-size: 11px;
}

.navigation-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.navigation-header img {
  display: inline-block;
  padding-right: 16px;
}
.navigation-header a {
  display: block;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-decoration: none;
  color: #cacaca;
  font-size: 10px;
  line-height: 16.5px;
  color: #ffffff;
}
.navigation-header a:active {
  opacity: 0.8;
}
.navigation-header a:hover {
  color: #ffffff;
  font-size: 11px;
}

.navigation-block {
  display: block;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: 90px;
  margin-right: 90px;
  row-gap: 3px;
}
.navigation-block li {
  list-style: none;
  margin-right: 24px;
  padding: 0;
}
.navigation-block li:last-child {
  margin-right: 0;
}

#page-description {
  padding-bottom: 200px;
  padding-top: 200px;
  color: #ffffff;
  grid-row: 1/2;
}
#page-description form {
  max-width: 570px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
#page-description form input {
  border: 0;
  background-color: transparent;
  border: 2px solid #cacaca;
  border-radius: 3px;
  box-sizing: border-box;
  color: #ffffff;
  margin: 0 30px 1.5rem 0;
  min-height: 50px;
  min-width: 270px;
  padding-left: 20px;
}
#page-description form input:nth-of-type(2) {
  margin-right: 0;
}
#page-description form input::placeholder {
  color: #ffffff;
}
#page-description form input[type=submit] {
  border: 0;
  text-transform: uppercase;
  appearance: none;
  background-color: #34c176;
  border-radius: 5px;
  margin: 0;
  padding: 20px 30px;
  width: 100%;
}
#page-description form input[type=submit]:active {
  opacity: 0.8;
}
#page-description form input[type=submit]:hover {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #34c176;
}
#page-description .btn-artist {
  align-items: center;
  border: 0;
  display: inline-block;
  font-size: 12.8px;
  height: 62px;
  line-height: 1.5;
  margin-bottom: 23px;
  margin-right: 1.5rem;
  padding: 21px 30px 22px 67px;
  position: relative;
  width: 200px;
}
#page-description .btn-artist::before {
  height: 20px;
  width: 20px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  filter: invert(100%);
  left: 31px;
  position: absolute;
  top: 21px;
}
#page-description .btn-artist:first-of-type {
  background-color: #5328a1;
}
#page-description .btn-artist:first-of-type::before {
  background-image: url("../images/play-button.svg");
}
#page-description .btn-artist:last-of-type {
  background-color: #95390c;
}
#page-description .btn-artist:last-of-type::before {
  background-image: url("../images/heart.svg");
}
#page-description .btn-artist:hover {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #ffffff;
  color: #ffffff;
}

.page-artist h1 {
  margin-bottom: 16px;
  margin-top: 50px;
}
.page-artist p {
  margin-bottom: 48px;
}

.bg-main::before {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  content: "";
  grid-row: 1/2;
  left: 0;
  position: absolute;
  top: 0;
  z-index: -1;
  background-image: url("../images/banner.png");
}

.bg-artist::before {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  content: "";
  grid-row: 1/2;
  left: 0;
  position: absolute;
  top: 0;
  z-index: -1;
  background-image: url("../images/Morten Harket.png");
}

#page-pricing {
  text-align: center;
  color: #ffffff;
  padding-top: 100px;
}
#page-pricing h2 {
  margin-bottom: 50px;
}
#page-pricing h3 {
  text-transform: uppercase;
  margin-bottom: 200px;
}

.pricing-catalog {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 50px;
}

.pricing-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 1rem;
  box-sizing: border-box;
  flex: 1 1 366px;
  flex-direction: column;
  padding: 0 1.5rem;
  vertical-align: center;
}

.pricing-value {
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  font-size: 64px;
  margin-bottom: 40px;
  padding: 0;
}
.pricing-value span {
  display: block;
  font-size: 32px;
  margin-left: 16px;
  padding-top: 16px;
}

.pricing-footer {
  text-align: center;
  font-size: 12.8px;
  margin: 64px 0;
}

.footnote {
  font-size: 16px;
  margin-top: 40px;
}

.bg-free {
  background-position: center;
  background-size: cover;
  background-image: url("../images/subscribe_1.png");
}

.bg-standard {
  background-position: center;
  background-size: cover;
  background-image: url("../images/subscribe_2.png");
}

.bg-premium {
  background-position: center;
  background-size: cover;
  background-image: url("../images/subscribe_3.png");
}

#page-news {
  display: grid;
  grid-template-rows: 100px 57px 48px auto minmax(64px, 65px) auto;
  align-content: center;
}
#page-news h2 {
  text-align: center;
  color: #ffffff;
  grid-row: 2/3;
  margin-bottom: -17px;
}
#page-news .news-item {
  gap: 50px;
  justify-content: center;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
#page-news .news-item:nth-of-type(2n) {
  flex-direction: row-reverse;
}
#page-news .news-item > img {
  height: auto;
  max-width: 575px;
}
#page-news .news-body {
  flex: 1 1 575px;
  padding: 0;
}
#page-news .news-body h3 {
  text-transform: capitalize;
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  margin: 0;
}
#page-news .news-body p {
  margin: 30px 0 24px;
}
#page-news .news-footer .btn-news {
  border-color: #cacaca;
  color: #cacaca;
  font-size: 12px;
  height: 53px;
  line-height: 19.2px;
  padding: 16px 30px;
  width: 135px;
}
#page-news .news-footer .btn-news:hover {
  background-color: #cacaca;
  color: #08020d;
}
#page-news .news-author {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 12px;
  line-height: 19.2px;
  margin-bottom: 48px;
}
#page-news .news-author p:last-of-type {
  margin: 0;
}
#page-news .news-author a {
  text-transform: uppercase;
  text-decoration: none;
  color: #f89202;
  margin: 0 16px;
}
#page-news .news-author a:hover {
  text-decoration: underline;
}
#page-news .news-item:first-of-type {
  grid-row: 4/5;
}
#page-news .news-item:last-of-type {
  grid-row: -1/-2;
}

#page-app {
  padding-bottom: 100px;
  padding-top: 100px;
  display: grid;
  grid-template-columns: minmax(0, 600px) 374px;
  justify-content: space-between;
}
#page-app h2 {
  text-align: center;
  color: #ffffff;
  grid-column: 1/-1;
  margin-bottom: 48px;
}
#page-app img {
  grid-column: -1/-2;
  grid-row: 2/6;
  margin: 0 auto;
}
#page-app p {
  font-size: 16px;
}
#page-app p,
#page-app a {
  grid-column: 1/2;
}
#page-app .btn-app {
  text-transform: capitalize;
  background-color: #95390c;
  border: 0;
  border-radius: 32px;
  font-size: 12.8px;
  height: 53px;
  line-height: 1.5;
  padding: 16px 40px;
  width: 131px;
}
#page-app .btn-app:hover {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #95390c;
  color: #ffffff;
}

#page-popular-track {
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 25px;
  padding-top: 100px;
  grid-template-columns: minmax(374px, 551px) minmax(374px, 551px);
}
#page-popular-track h2 {
  color: #ffffff;
  grid-column: 1/-1;
}

#page-discography {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  column-gap: 50px;
  padding-top: 205px;
  position: relative;
  row-gap: 25px;
}
#page-discography h2 {
  color: #ffffff;
  left: 0;
  position: absolute;
  top: 100px;
}

.discography-item img {
  display: block;
  height: 100%;
  width: 100%;
}

.discography-info {
  width: 100%;
}
.discography-info h3,
.discography-info p {
  margin: 0;
}
.discography-info h3 {
  text-transform: capitalize;
  color: #ffffff;
  font-size: 18px;
  line-height: 27px;
  margin-top: 18px;
}
.discography-info p {
  font-size: 16px;
}

nav,
.footer-item {
  margin-top: 0;
  padding: 0;
}
nav li,
.footer-item li {
  list-style: none;
}
nav a,
.footer-item a {
  text-decoration: none;
  color: #cacaca;
}
nav a:active,
.footer-item a:active {
  opacity: 0.8;
}
nav a:hover,
.footer-item a:hover {
  color: #ffffff;
  text-decoration: underline;
}

footer {
  display: grid;
  grid-template-columns: minmax(20px, auto) minmax(374px, 1200px) minmax(20px, auto);
  position: relative;
  z-index: 0;
  grid-column: 1/-1;
  grid-template-rows: auto minmax(72px, 75px) auto;
  padding-bottom: 2rem;
  padding-top: 3rem;
}
footer nav {
  border-top: 2px solid #cacaca;
}
footer h2 {
  color: #ffffff;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 15px;
}

.footer-block {
  display: flex;
  flex-wrap: wrap;
  grid-column: 2/-2;
  grid-row: 1/2;
  justify-content: space-between;
}

#page-similar {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  column-gap: 50px;
  padding-top: 205px;
  position: relative;
  row-gap: 25px;
  padding-bottom: 100px;
}
#page-similar h2 {
  color: #ffffff;
  left: 0;
  position: absolute;
  top: 100px;
}

.similar-item img {
  display: block;
  height: 100%;
  width: 100%;
}

.similar-info {
  text-align: center;
  width: 100%;
}
.similar-info h3,
.similar-info p {
  margin: 0;
}
.similar-info h3 {
  text-transform: capitalize;
  color: #ffffff;
  font-size: 18px;
  line-height: 27px;
  margin-top: 18px;
}
.similar-info p {
  font-size: 16px;
}

@media (max-width: 849px) {
  header {
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }
  header nav {
    width: 130px;
  }
  header #search {
    width: 100%;
  }

  .navigation-block {
    margin: 17px 0 0;
  }
  .navigation-block li {
    width: 100%;
  }
  .navigation-block li a {
    font-size: 11px;
  }

  #page-app {
    grid-template-columns: auto;
  }

  #page-popular-track {
    grid-template-columns: 100%;
  }

  .track-info {
    grid-template-columns: 125px minmax(154px, 589px) 25px;
  }
}
@media (max-width: 609px) {
  nav ul li {
    margin: 0;
    width: 100%;
  }

  h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
  }

  h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
  }

  h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
  }

  #page-description form {
    display: flex;
    flex-wrap: wrap;
  }
  #page-description form input {
    margin-right: 0;
    width: 100%;
  }

  .page-artist h1 {
    margin-top: 25px;
  }

  #page-news .news-item > img {
    height: auto;
    width: 100%;
  }
  #page-news .news-body {
    width: 100%;
  }
  #page-news .news-body h3 {
    font-size: 16px;
  }
  #page-news .news-body p {
    font-size: 16px;
  }
  #page-news .news-author {
    font-size: 12.8px;
  }
  #page-news h2 {
    font-size: 18px;
    line-height: 27px;
  }

  .btn-artist {
    margin-right: 100px;
  }
  .btn-artist:first-of-type {
    margin-bottom: 24px;
  }
  .btn-artist:last-of-type {
    margin-bottom: 23px;
  }

  .discography-item {
    width: 137px;
  }

  #page-discography {
    padding-top: 175px;
  }
  #page-discography h2 {
    color: #ffffff;
    left: 0;
    position: absolute;
    top: 100px;
  }

  #page-similar {
    padding-top: 175px;
  }
  #page-similar h2 {
    color: #ffffff;
    left: 0;
    position: absolute;
    top: 100px;
  }

  .similar-item {
    width: 137px;
  }
}
@media (max-width: 414px) {
  #search {
    margin-top: 18px;
  }

  header #search {
    width: 374px;
  }

  #page-description {
    padding-top: 248px;
  }
}

/*# sourceMappingURL=style.css.map */
